.paragraphe {
    text-align: center;
    width: 64%;
    margin: 2vw auto 5vw;
}

.paragraphe p {
    margin-bottom: 2vw;
    font-size: 1.19vw;
    font-family: Arial, Helvetica, sans-serif;
    color: #4D4D4D;
}

.paragraphe a.inscrivez-vous {
    padding: 0.7vw 2.3vw;
    border-radius: 7px;
    background: linear-gradient(0deg, rgba(38, 92, 184, 1) 0%, rgba(53, 117, 229, 1) 100%);
}